.parent-class {
  margin: 15px;
  margin-left: 40%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
